<div class="container bg-light" style="font-size: 25px;">
    <!--a jumbotron to display user info-->
    <div class ="row">
        <div class="col-12 text-center" id="user-details">
            <div class="row">
                <div class="jumbotron col-4">
                    <strong>Full name:</strong>
                    <p id="nameField"></p>
                </div>
                <div class="jumbotron col-4">
                    <strong>Username:</strong>
                    <p id="unameField"></p>
                </div>
                <div class="jumbotron col-4">
                    <strong>No of requests:</strong>
                    <p id="reimbNumberField"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <button type="submit" class="form-control btn btn-success text-center col-3" id="edit-profile-button">Edit Profile</button>
        </div>
    </div>
    <div class="row">
        <div class ="jumbotron col-4" id="optionsDiv">
            <ol style="list-style-type: none;">
                <li><a class = "btn btn-warning" href="#" style="border: 0;"><strong>+</strong> Create new reimbursement request</a></li> <br>
                <li><a href="#">View submitted reimbursement requests</a></li><br>
                <li><a href="#">View approved reimbursement requests</a></li><br>
                <li><a href="#">View pending reimbursement requests</a></li><br>
                <li><a href="#">View denied reimbursement requests</a></li><br>
            </ol>
        </div>
        <div class = "jumbotron col-8" id="displayArea"></div>
    </div>
    
<div class="footer text-center">
    <h3>ExpsTracker</h3>
</div>
</div>
    
</div>