<div class="container bg-light">
    <!--a jumbotron to display user info-->
    <div class="jumbotron row" style="font-size: 20px;">
        <div class="col-12 text-center" id="user-details">
            <div class="row">
                <div class="jumbotron col-4">
                    <strong>Full name:</strong>
                    <p id="nameField"></p>
                </div>
                <div class="jumbotron col-4">
                    <strong>Username:</strong>
                    <p id="unameField"></p>
                </div>
                <div class="jumbotron col-4">
                    <strong>No of requests:</strong>
                    <p id="reimbNumberField"></p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-12">
                    <button type="submit" class="form-control btn btn-success text-center col-3" id="edit-profile-button">Edit Your Profile</button>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="jumbotron col-4" id="optionsDiv">
            <a id= "create-reimb" class="btn btn-warning" href="#" style="border: 0;"><strong>+</strong> Create a new request</a>
            <ol style="list-style-type: none;">

                <br>
                <li><a href="#" id="view-reimbs">View submitted reimbursement requests</a></li><br>
                <li><a href="#" id="view-approved">View approved reimbursement requests</a></li><br>
                <li><a href="#" id="view-pending">View pending reimbursement requests</a></li><br>
                <li><a href="#" id="view-denied">View denied reimbursement requests</a></li><br>
            </ol>
        </div>
        <div class="jumbotron col-8" id="displayArea">
            <div id = "form-loading"></div>
        </div>
    </div>

    <div class="footer text-center">
        <h3>ExpsTracker</h3>
    </div>
</div>