<div>
    <h3>Enter reimbursement request details below</h3>
    <label for="amount-req"> Amount: <input type= "number" placeholder= "Enter requested amount here" id= "amount-req"></label><br><br>
    <label for ="description-req">Reason: <br><br><textarea type= "text" id="description-req" rows="5" cols="60"></textarea></label><br><br>
    <label for ="type-req">Select type: <select><options>
    <option aria-placeholder="Chose type..."></option>
    <option value=1>Lodging</option>
    <option value=2>Travel</option>
    <option value=3>Food</option>
    <option value=4>Other</option>
    </options></select></label>
    <br>
    <br>
    <button id="submit-reimb-req" class="btn btn-success">Submit</button>
</div>