<div class="jumbotron" style = "padding-top: 20px; margin: auto; border-left-color: red; border-top-left-radius: 5px;">
    <p class="lead">Enter reimbursement request details below</p class="lead">
    <label for="amount-req"> Amount: <input type= "number" placeholder= "Enter requested amount here" id= "amount-req"></label><br><br>
    <label for ="description-req">Reason: <br><br><textarea type= "text" id="description-req" rows="4" cols="35"></textarea></label><br><br>
    <label for ="type-req">Select type: <select id="type-req">
    <option aria-placeholder="chose-type">Chose type...</option>
    <option value=1>Lodging</option>
    <option value=2>Travel</option>
    <option value=3>Food</option>
    <option value=4>Other</option>
    </select></label>
    <br>
    <br>
    <button id="submit-reimb-req" class="btn btn-success">Submit</button>
    <p id = "invalid-input" style="color: red;"></p>
</div>